description = "one page layout header"
==


<div class="navbar navbar-fixed">
  <nav>
    <div class="nav-wrapper">

        <a href="{{ 'home'|page }}"><img class="hoverable brand-logo-img" src="{{ 'assets/images/branding/arteriaweb-logo-whitebg-253x47.png'|theme }}" alt="Arteriaweb logó"></a>
        <a href="#" data-activates="mobile-menu" class="mobile-toggle button-collapse right"><i class="material-icons">menu</i></a>
        <ul class="table-of-contents right hide-on-med-and-down">
				<li><a href="#aw-sample-1">műsorunk</a></li>
				<li><a href="#aw-sample-2">galéria</a></li>
				<li><a href="#aw-sample-3">visual poi</a></li>
            <li><a href="#aw-sample-4">rólunk</a></li>
				<!-- <li><div class="vertical-line"></div></li> -->
				<!-- <li><a href="#">magyar</a></li> -->
        </ul>
		  <ul class="side-nav" id="mobil-menu">
			  <li><a href="#aw-sample-1">műsorunk</a></li>
			  <div class="divider"></div>
			  <li><a href="#aw-sample-2">galéria</a></li>
			  <div class="divider"></div>
			  <li><a href="#aw-sample-3">visual poi</a></li>
			  <div class="divider"></div>
			  <li><a href="#aw-sample-4">rólunk</a></li>
         </ul>

      
    </div>
  </nav>
</div>
