// materialize fix
// ***********************
#sidenav-overlay{
	z-index: 1;
}

// ***********************
// mobil menu
// ***********************
nav a.button-collapse i{
	line-height: 92px;
	height: 92px;
}

nav i.material-icons{
	font-size: 36px;
}

//octaskin style navbar
.aw-navbar {
  nav {
    transition: all 0.25s ease;
    ul li {
      a {
      	font-weight: 700;
      }
      &:hover,
      &:focus,
      &.active {
        background-color: transparent;
        a {
          transition: color 0.25s ease;
          color: white;
          background-color: transparent;
        }
      }
    }
    &.aw-no-background {
      ul li {
        &:hover,
        &:focus,
        &.active {
          a {
            color: $isc-primary-color;
          }
        }
      }
    }
  }
}

ul.side-nav#mobil-menu{
	padding-top: 30px;
	li{
		height: 48px;
		a{
			padding-left: 30px;
			font-size: 16px;
		}
	}
	.divider{
		margin: 0px 0px 0px 0px;
	}
}
