#roboto-slab h1,
#roboto-slab h2,
#roboto-slab h3,
#roboto-slab h4,
#roboto-slab h5,
#roboto-slab h6,
#roboto-slab p.fontteszt{
   font-family: 'Roboto Slab', serif;
}

#raleway h1,
#raleway h2,
#raleway h3,
#raleway h4,
#raleway h5,
#raleway h6,
#raleway p.fontteszt{
   font-family: 'Raleway', sans-serif;
}

#impact h1,
#impact h2,
#impact h3,
#impact h4,
#impact h5,
#impact h6,
#impact p.fontteszt{
   font-family: 'Impact_PFL';
}

#lato h1,
#lato h2,
#lato h3,
#lato h4,
#lato h5,
#lato h6,
#lato p.fontteszt{
   font-family: 'Lato', sans-serif;
}

#opensans h1,
#opensans h2,
#opensans h3,
#opensans h4,
#opensans h5,
#opensans h6,
#opensans p.fontteszt{
   font-family: 'Open-Sans', sans-serif;
}
