section#aw-sample-1,
section#aw-sample-2,
section#aw-sample-3,
section#aw-sample-4{
   height: 400px;
   min-height: 400px;
   background: #f4f4f4;
   .container{
      background: white;
      height: 100%;
   }
}
