@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('bs-halfling/glyphicons-halflings-regular.eot');
    src: url('bs-halfling/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('bs-halfling/glyphicons-halflings-regular.woff') format('woff'),
         url('bs-halfling/glyphicons-halflings-regular.ttf') format('truetype'),
         url('bs-halfling/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')
}
